<?xml version="1.0" encoding="utf-8"?>
<SysSetting>
  <Output>
    <SaveOld>true</SaveOld>
    <SaveNew>false</SaveNew>
    <OutputFolder>D:\</OutputFolder>
    <IsShowOutputFile>false</IsShowOutputFile>
    <IsFileName>false</IsFileName>
    <FileName>
    </FileName>
    <IsBeforeName>True</IsBeforeName>
    <BeforeName>Do_</BeforeName>
    <IsAfterName>false</IsAfterName>
    <AfterName>
    </AfterName>
    <IsCreateFolder>true</IsCreateFolder>
  </Output>
  <PageSize>
    <Size>Default</Size>
    <Height>842</Height>
    <Width>1191</Width>
  </PageSize>
  <FontSetting>
    <Font>宋体</Font>
    <FontSize>10</FontSize>
    <FontStyle>1</FontStyle>
    <FontColor>-16777216</FontColor>
  </FontSetting>
  <PageNumber>
    <Add>false</Add>
    <Format>-1</Format>
    <Location>-1</Location>
  </PageNumber>
  <Watermark>
    <Font>宋体</Font>
    <WaterText></WaterText>
    <FontSize>35</FontSize>
    <Angle>45</Angle>
    <Opacity>0.5</Opacity>
    <FontColor>-16717999</FontColor>
  </Watermark>
  <Checked>
    <LastDate>2018-09-27</LastDate>
    <Interval>5</Interval>
    <NewVersion>0.0.0</NewVersion>
    <IsInvalid>0</IsInvalid>
  </Checked>
  <ImageToPDF>
    <Size>A4Z</Size>
  </ImageToPDF>
  <!--替换文字-->
  <ReplaceText>
    <Find>
    </Find>
    <Replace>
    </Replace>
  </ReplaceText>
  <!--删除文字-->
  <DeleteText>
    <Find>
    </Find>
    <Replace>
    </Replace>
  </DeleteText>
  <!--添加水印-->
  <SelectWatermark>
    <Text>True</Text>
    <RepeatText>False</RepeatText>
    <Header>False</Header>
    <Footer>False</Footer>
    <Image>False</Image>
  </SelectWatermark>
  <Watermark_Text>
    <Font>宋体</Font>
    <WaterText></WaterText>
    <FontSize>55</FontSize>
    <Angle>45</Angle>
    <Opacity>0.5</Opacity>
    <FontColor>-16717999</FontColor>
    <Align>Center</Align>
  </Watermark_Text>
  <Watermark_RepeatText>
    <Font>宋体</Font>
    <WaterText></WaterText>
    <FontSize>10</FontSize>
    <Angle>8</Angle>
    <Opacity>0.5</Opacity>
    <FontColor>-65536</FontColor>
    <Align>Center</Align>
  </Watermark_RepeatText>
  <Watermark_Header>
    <Font>宋体</Font>
    <WaterText></WaterText>
    <FontSize>20</FontSize>
    <Angle>0</Angle>
    <Opacity>0.5</Opacity>
    <FontColor>-16776961</FontColor>
    <Align>Left</Align>
    <Top>10</Top>
    <Left>10</Left>
  </Watermark_Header>
  <Watermark_Footer>
    <Font>宋体</Font>
    <WaterText></WaterText>
    <FontSize>20</FontSize>
    <Angle>0</Angle>
    <Opacity>0.5</Opacity>
    <FontColor>-16776961</FontColor>
    <Align>Left</Align>
    <Bottom>10</Bottom>
    <Left>10</Left>
  </Watermark_Footer>
  <Watermark_Image>
    <Over>True</Over>
    <Under>False</Under>
    <Image>D:\Documents\DeskTop\black.png</Image>
    <CutImg>False</CutImg>
    <SubImgWidth>10</SubImgWidth>
    <ImagePosition>False</ImagePosition>
    <PositionLeft>10</PositionLeft>
    <PositionBottom>10</PositionBottom>
    <ImageSizeType>OldSize</ImageSizeType>
    <ImageSizeZoom>
    </ImageSizeZoom>
    <ImageSizeWidth>
    </ImageSizeWidth>
    <ImageSizeHeight>
    </ImageSizeHeight>
  </Watermark_Image>
  <PageCut>
    <CutPage>1</CutPage>
    <CutWidth>2</CutWidth>
    <CutHeight>2</CutHeight>
    <Crop>0</Crop>
    <CropTop>20</CropTop>
    <CropLeft>20</CropLeft>
    <CropBottom>20</CropBottom>
    <CropRight>20</CropRight>
    <CropP>0</CropP>
    <CropTopP>10</CropTopP>
    <CropLeftP>10</CropLeftP>
    <CropBottomP>10</CropBottomP>
    <CropRightP>10</CropRightP>
  </PageCut>
  <AddPageNumber>
    <FontSize>25</FontSize>
    <Align>Center</Align>
    <LocationLeft>50</LocationLeft>
    <LocationBottom>1</LocationBottom>
    <NumberStyle>1</NumberStyle>
    <StartNumber>1</StartNumber>
  </AddPageNumber>
  <PDF2Word>
    <Mode>1</Mode>
    <Format>docx</Format>
  </PDF2Word>
  <PDFtoPPT>
    <Format>pptx</Format>
  </PDFtoPPT>
</SysSetting>